<div class="modal-header bg-dark">
  <h4 class="modal-title pull-left">Create Academic Year Time Table</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>

  </button>
</div>
<form (submit)='createTimetable()' [formGroup]='newTimeTableForm'>

  <div class="modal-body bg-dark">
    <div class="d-flex justify-content-center flex-wrap">
      <div class="col-lg-6">

        <app-input [triggerValidation]='(triggerValidationAction$ | ngrxPush)' labelClass='col-md-12 col-lg-12'
          inputClass='col-md-12 col-lg-12' label='Description' id='name' type="text" placeholder="Name"
          formControlName="description"></app-input>
      </div>

      <div class="col-lg-6">
        <label for="timing">Timing</label>
        <ng-select id='timing' [items]="timingTypes$ | ngrxPush" bindLabel="description" bindValue="id" formControlName='timing'>

        </ng-select>
      </div>
    </div>
  </div>
  <div class="modal-footer bg-dark d-flex justify-content-between">
    <app-validate-submit-buttons [isSubmitting]='submitInProgressSubject$ | ngrxPush'
      (validationButtonClicked)='triggerValidationSubject$.next(true)' [formItem]='newTimeTableForm'>
      <span>Create TimeTable</span>
    </app-validate-submit-buttons>

    <button type="button" (click)='closeModal()' class="btn btn-secondary">Cancel</button>

  </div>
</form>
