<section class="card mt-1" *ngIf='i === activeQuestion'>
  <section class="card-header d-flex flex-wrap justify-content-between align-items-center">
    <section class="badge badge-primary">Qn:{{ i + 1 }} [{{ question.points | number:'1.1-1' }} points] <span
        class="sr-only">Question {{ i + 1 }}</span>
    </section>
    <section>
      <button type="button" class="btn btn-sm btn-secondary ml-2" (click)='activeQuestionPrevious()'
        [disabled]='activeQuestion === 0'> <span class="icon-left-bold"></span>
        Previous</button>
      <button (click)='activeQuestionNext()' [disabled]='activeQuestion === (questionsLength - 1)'
        type="button" class="btn btn-sm btn-secondary ml-2"> <span class="icon-right-bold"></span>
        Next

      </button>

    </section>
  </section>
  <section class="card-body mb-0 choices">
    <section class="pb-2 border-bottom">
      <div [appMath]="{latex: question.description }"></div>
      <section>
        <span *ngFor='let tag of question.tags; let j = index'
          class="badge badge-secondary p-1 mr-2 mb-2 pl-2 pr-2">{{ tag }}</span>
      </section>
    </section>
    <fieldset class="bg-dark mt-1">
      <legend>Choices</legend>
      <span *ngIf='!question.multipleChoices'>[Question has no choices]</span>
      <span *ngIf='!question.multipleAnswers && question.multipleChoices'>[Question has one correct answer]</span>
      <span *ngIf='question.multipleAnswers  && question.multipleChoices'>[Question can have multiple answers]</span>
      <ul class="list-group ">
        <li *ngFor='let answer of question.answers; let k = index' class="list-group-item list-group-flush bg-dark">
          {{ k | number2Alphabet }}. <span [class.text-success]='answer.isCorrect'
            [class.icon-check-empty]='!answer.isCorrect' [class.icon-check]="answer.isCorrect"
            style="font-size: 1.2rem;"></span> {{ answer.description }}
        </li>
      </ul>

    </fieldset>
    <section aria-label="Correct Answer Description">
      <strong>Explanation: </strong><span [innerHtml]='question.correctAnswerDescription'></span>
    </section>
  </section>
  <section *ngIf='editMode' class="card-footer mt-0 pt-0 d-flex justify-content-between flex-wrap">
    <section>
      <button type="button" class="btn btn-sm btn-secondary ml-2" (click)='editRequest("add-before", i)'>
        <span class="icon-plus-circled"></span>
        <span class="icon-up-fat"></span>
        Add
        Before</button>
      <button (click)='editRequest("add-after", i)' type="button" class="btn btn-sm btn-secondary ml-2">
        <span class="icon-plus-circled"></span>
        <span class="icon-down-fat"></span>
        Add After</button>
      <button type="button" class="btn btn-sm btn-primary ml-2" (click)='editRequest("edit", i)'> <span
          class="icon-edit"></span> Edit</button>
      <button [disabled]='questionsLength === 1' (click)='deleteQuestionRequest(i)' type="button"
        class="btn btn-sm btn-danger ml-2"><span class="icon-trash-1"></span> Delete</button>
    </section>
    <section>

      <button [disabled]='activeQuestion === 0' (click)='reorderQuestionsRequest({ move: "up", index: i})' type="button"
        class="btn btn-sm btn-secondary ml-2">
        <span class="icon-up"></span>
        <span class="sr-only">Reorder </span>Move Up</button>
      <button [disabled]='activeQuestion === (questionsLength - 1)' (click)='reorderQuestionsRequest({ move: "down", index: i})'
        type="button" class="btn btn-sm btn-secondary ml-2">
        <span class="icon-down"></span>
        <span class="sr-only">Reorder</span>Move Down</button>
    </section>
  </section>
</section>
