@import '../../exam-bank-admin/question-view/question-view.component.css';
.list-group-item {
   font-size: 1.2rem !important;
}
.correct-answer {
  border: rgb(104, 238, 104) 1.5px solid;
  color:  rgb(104, 238, 104) !important;
}
.incorrect-answer {
  border: rgb(250, 139, 139) 1.5px solid;
  color: rgb(250, 139, 139) !important;
}