<section class='d-flex flex-wrap name-field  mt-4' *ngIf='(student$ | ngrxPush) as profile; else content_loading'>
  <section class='col-lg-4 col-md-5 col-sm-12 mb-3'>
    <app-user-select-item (valueChanged)='updateSelectValue("gender", $event)' [valueName]='profile.gender_name'
      [value]='profile.gender_id' [label]='"gender"' [items]='genders$' [userId]='profile.id'></app-user-select-item>
  </section>
  <section class='col-md-7 col-lg-5 col-sm-12 mb-3'>
    <app-name-item type='date' (valueChanged)='changeProfile("dateOfBirth", $event)' [userId]='profile.id' label='Date of Birth'
      [name]='profile.dateOfBirth'></app-name-item>
  </section>
  <section class='col-lg-4 col-md-5 col-sm-12 mb-3'>
    <app-user-select-item (valueChanged)='updateSelectValue("religion", $event)' [valueName]='profile.religion_name'
      [value]='profile.religion_id' [label]='"religion"' [items]='religions$' [userId]='profile.id'>
    </app-user-select-item>
  </section>
</section>
<ng-template #content_loading>
  <app-loading-bubble></app-loading-bubble>
</ng-template>