<input [(ngModel)]="search" typeaheadOptionField="name" [typeahead]="suggestions$" [typeaheadAsync]="true"
  class="form-control" placeholder="Enter Student Name" (typeaheadOnSelect)="onSelect($event)">

<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<div class="card mt-4 p-2">
  <h2>Selected Student Details</h2>
  <div class="d-flex justify-content-between flex-wrap" *ngIf='selectedItemAction$ | async as selectedItem; else noSelectedStudent'>
    <div class="col-12 col-xl-6 mt-1">First Name: <strong>{{ selectedItem.firstName }}</strong></div>
    <div class="col-12 col-xl-6 mt-1">Last Name: <strong>{{ selectedItem.lastName }}</strong></div>
    <div class="col-12 col-xl-6 mt-1">Middle Name: <strong>{{ selectedItem.middleName }}</strong></div>
    <div class="col-12 col-xl-6 mt-1">Other Names: <strong>{{ selectedItem.otherNames }}</strong></div>
    
    <div class="col-12 mt-3 text-right">
      <a [routerLink]='["/students", selectedItem.id, "info"]' class="btn btn-primary"><span class="icon-ok"></span>
        Continue
      </a>
    </div>
  </div>
 <ng-template #noSelectedStudent>
    <div class="alert alert-info" role="alert" *ngIf="!errorMessage ">
      <span class="icon-info"></span>No student Selected
    </div>
 </ng-template>
</div>