<h1>Exam Bank Archives</h1>
<section class="d-flex flex-wrap">
  <section class="col-lg-7">
    <fieldset>
      <legend>Search</legend>
    </fieldset>
  </section>
  <section class="col-lg-5">
    <fieldset>
      <legend>Recent Exam Posts</legend>
      <section *ngIf='examPapers$ | ngrxPush as examPapers; else loading'>
        <ul class="list-group">
          <li *ngFor='let examPaper of examPapers' class="list-group-item bg-dark text-light">
            <a class="btn-block" [routerLink]='["/academics", "exam-bank", "archives", "exams", examPaper.id]'>{{ examPaper.name }}</a>
          </li>
        </ul>
      </section>
      <ng-template #loading>
        <app-loading-bubble></app-loading-bubble>
      </ng-template>
    </fieldset>
  </section>
</section>