<div class="modal-header bg-dark">
  <h4 class="modal-title pull-left">New Time Table Timing</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>

  </button>
</div>
<form (submit)='saveTimings()' [formGroup]='timeTableTimingForm'>

  <div class="modal-body bg-dark">
    <div class="d-flex justify-content-center flex-wrap">
      <div class="col-lg-12">

        <app-input [triggerValidation]='(triggerValidationAction$ | ngrxPush)' labelClass='col-md-12 col-lg-3'
          inputClass='col-md-12 col-lg-9' label='Description' id='name' type="text" placeholder="Name"
          formControlName="description"></app-input>
      </div>
     
      <div class="col-lg-12 card pt-2" formArrayName='timings'>
        <div class="d-flex">
          <button class="btn btn-primary btn-sm" (click)='addTiming()'> <span class='icon-plus-circled'></span> Add </button>
        </div>
        <div class="d-flex flex-wrap mt-2"
          *ngFor='let timing of timeTableTimingForm.get("timings")?.controls; let i = index' [formGroupName]='i'>
          <div class="col-lg-5">
            <app-input [triggerValidation]='(triggerValidationAction$ | ngrxPush)' labelClass='col-md-12 col-lg-5'
              inputClass='col-md-12 col-lg-7' label='From' [id]='"from" + i' type="time" placeholder="From"
              formControlName="start"></app-input>
          </div>
          <div class="col-lg-5">
            <app-input [triggerValidation]='(triggerValidationAction$ | ngrxPush)' labelClass='col-md-12 col-lg-5'
              inputClass='col-md-12 col-lg-7' label='To' [id]='"to" + i' type="time" placeholder="To"
              formControlName="end"></app-input>
          </div>
          <div class="col-lg-2">
            <button [disabled]='timeTableTimingForm.get("timings")?.controls?.length < 2' (click)='deleteTiming(i)' class="btn btn-danger btn-sm"><span class="icon icon-trash"></span></button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer bg-dark d-flex justify-content-between">
    <app-validate-submit-buttons [isSubmitting]='submitInProgressSubject$ | ngrxPush'
      (validationButtonClicked)='triggerValidationSubject$.next(true)' [formItem]='timeTableTimingForm'>
      <span>Save Timings</span>
    </app-validate-submit-buttons>
    
    <button type="button" (click)='closeModal()' class="btn btn-secondary">Cancel</button>

  </div>
</form>