.container-fluid {
  overflow: auto;
  max-height: calc(100% );
}
#page-content-wrapper {
  margin-bottom: 50px;
}

#main:fullscreen .escape-fullsreen{
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
}
#main:not(:fullscreen) .escape-fullsreen{
 display: none;
}