<nav class='navbar navbar-expand-lg navbar-dark bg-dark border-bottom'>
  <button
    aria-live="polite"
    [attr.aria-label]='isMenuClosed ? "Open sidebar menu": "close side bar menu"'
    (click)='toggleMenu()'
    class='btn btn-secondary hidden-sm'
    id='menu-toggle'>Menu <span class="sr-only">{{ isMenuClosed ? "Side Menu closed": "side menu opened" }}</span>
    <i [class]='isMenuClosed ? "icon-left-open": "icon-right-open"'></i></button>
  <span *ngIf='!isMenuClosed' class="hidden-sm-up">&nbsp;</span>
  <button
    [attr.aria-label]='isMenuClosed ? "Open sidebar menu": "close side bar menu"'
    *ngIf='isMenuClosed'
    (click)='toggleMenu()'
    class="hidden-sm-up btn btn-secondary"
    type="button">
          <span class=" icon-indent-left"></span>
          <span class="sr-only">{{ isMenuClosed ? "Side Menu closed": "side menu opened" }}</span>
  </button>
  <button aria-label='Toggle Menu' class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <section class='navbar-nav ml-auto mt-2 mt-lg-0'>
      <app-menu-search></app-menu-search>
      <app-user-button></app-user-button>
    </section>
  </div>
</nav>

<app-breadcrumb></app-breadcrumb>