<nav class='navbar navbar-expand-lg navbar-dark bg-dark border-bottom'>
  <button
    (click)='toggleMenu()'
    class='btn btn-secondary hidden-sm'
    id='menu-toggle'>Menu 
    <i [class]='isMenuClosed ? "icon-left-big": "icon-right-big"'></i></button>
  <span *ngIf='!isMenuClosed' class="hidden-sm-up">&nbsp;</span>
  <button
    *ngIf='isMenuClosed'
    (click)='toggleMenu()'
    class="hidden-sm-up btn btn-secondary"
    type="button">
          <span class="icon-exchange"></span>
  </button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <ul class='navbar-nav ml-auto mt-2 mt-lg-0'>
      <app-menu-search></app-menu-search>
      <app-user-button></app-user-button>
    </ul>
  </div>
</nav>