<h1>{{ title }}</h1>
<a [routerLink]='["create"]' type="button" class="btn btn-primary btn-sm">
  New
  <span class='icon-plus-circled'></span>
</a>
<table class="table table-bordered table-dark table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Active</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf='(items$ | ngrxPush) as items; else data_loading'>
      <tr *ngFor="let item of items;let i = index">

        <th scope="row">{{ i + 1 }}</th>
        <td *ngIf='true'>{{ item.name }}</td>
        <td class="p-1">
          <span *ngIf='item.description' [innerHTML]='(item.description | slice:0:100)'></span>
            <a *ngIf='item.description?.length > 100' [routerLink]='[item.id, "view"]'>View More...<span class="icon-expand-right"></span></a>
          <span class="icon-info badge badge-info p-2" *ngIf='!item.description'>No description available!</span>
        </td>
        <td>
          <app-chips [value]='item.active'></app-chips>
        </td>
        <td class='d-flex  justify-content-between flex-wrap'>
          <button class='btn btn-primary btn-sm' [routerLink]='[item.id, "edit"]'
            attr.aria-label="{{ 'Edit subject item ' + item.name }}" title="Edit" type="button">
            <i class="icon-edit" color="primary"></i><span class="sr-only">edit</span>
          </button>
          <button [disabled]='deleting[i]' class='btn btn-danger btn-sm'
            (click)="deleteItem({id: item.id, name: item.name, index: i})"
            attr.aria-label="{{ 'Delete subject item ' + item.name }}" title="Delete Item" type="button">
            <i class="icon-trash-1" [class.animate-spin]='deleting[i]' color="primary"></i><span
              class="sr-only">delete</span>
          </button>
          <button class='btn btn-info btn-sm' [routerLink]="[item.id, 'view']"
            attr.aria-label="{{ 'View subject item ' + item.name }}" title="View Item" type="button">
            <i class="icon-eye" color="primary"></i><span class="sr-only">view</span>
          </button>
        </td>
      </tr>
      <tr *ngIf='items.length === 0'>
        <td colspan="5">
          <section class='alert alert-info'><span class="icon-info-circled"></span>No {{ title }} Found!</section>
        </td>
      </tr>
    </ng-container>

    <ng-template #data_loading>
      <tr>
        <td colspan="5">
          <app-loading-bubble></app-loading-bubble>
        </td>
      </tr>
    </ng-template>

  </tbody>
</table>