<section class="login-error">
  <app-error></app-error>
</section>
<app-full-with-center>
  <section class='card col-lg-12'>
    <section class='card-header'>
      <h1>Password Change Form</h1>
    </section>
    <section class='card-body'>
      <form (submit)='submitPasswordChangeForm()' [formGroup]='passwordChangeForm' class='form-horizontal'>
        <ng-container *ngIf='showOldPasswordField$ | async'>
          <app-input type='password' labelClass='col-lg-12' inputClass='col-lg-12' label='Old Password' placeholder='Enter Old Password'
          id='oldPassword' formControlName='oldPassword' prependIcon='icon-lock' [autofocus]=[true]></app-input>
        </ng-container>

          
        <app-input type='password' labelClass='col-lg-12' inputClass='col-lg-12' label='New Password' placeholder='Enter New Password'
          id='newPassword' formControlName='newPassword' prependIcon='icon-lock'></app-input>

        <app-input type='password' labelClass='col-lg-12' inputClass='col-lg-12' label='New Password Confirmation'
          placeholder='Enter New Password Confirmation' id='newPasswordConfirmation'
          formControlName='newPasswordConfirmation' prependIcon='icon-lock'>
        </app-input>

        <section class='d-flex justify-content-between'>
          <button type="button" routerLink='/login' queryParamsHandling='preserve'
            class='btn btn-secondary'>Cancel</button>

          <button class='btn btn-success'
            [disabled]='!passwordChangeForm.dirty || !passwordChangeForm.valid || (isSubmittingActions$ | async)'>
            Submit
            <i *ngIf='(isSubmittingActions$ | async)' class='icon-spin3 animate-spin'></i>
            <i *ngIf='!(isSubmittingActions$ | async) && passwordChangeForm.valid && passwordChangeForm.dirty'
              class='icon-ok-1'></i>
          </button>
        </section>
      </form>
    </section>
  </section>
</app-full-with-center>