<ul class='nav' *ngIf='user$ | async as user'>
  <li class='nav-item dropdown bg-dark'>
    <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown'
      aria-haspopup='true' aria-expanded='false'>
      {{ user.firstName }} {{ user.lastName }}
    </a>
    <div class='dropdown-menu dropdown-menu-right bg-dark' aria-label='User Profile'>
      <a class='dropdown-item' routerLink='/my-profile'><span class='icon-user'>My Profile</span></a>
      <div class='dropdown-divider'></div>
      <app-logout-button></app-logout-button> 
    </div>
  </li>
</ul>