<ul class='nav'>
  <li class='nav-item dropdown'>
    <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown'
      aria-haspopup='true' aria-expanded='false'>
      info@furahacapital.com
    </a>
    <div class='dropdown-menu dropdown-menu-right' aria-label='User Profile'>
      <a class='dropdown-item' routerLink='/my-profile'><span class='icon-user'>My Profile</span></a>
      <div class='dropdown-divider'></div>
      <a class='dropdown-item' (click)='logout()'><span class='icon-logout-2'></span>Log Out</a>
    </div>
  </li>
</ul>