<section *ngIf='(academicYear$ | ngrxPush) as academicYear; else content_loading'>
  <h1>Academic Year <span class='icon-right-dir'></span> <small>{{academicYear.name}}</small></h1>
  <section>
    Period: <strong>{{ academicYear.start_date | date: 'MMM dd, yyyy' }}</strong> <span class='icon-right'></span>
    <strong>{{ academicYear.end_date | date: 'MMM dd, yyyy'}}</strong>
  </section>
  <section style="min-height: 460px">
    <router-outlet></router-outlet>
  </section>
</section>

<ng-template #content_loading>
  <h1>Academic Year</h1>
  <app-loading-bubble></app-loading-bubble>
</ng-template>