<section>
  <ul class='list-group list-group-flush d-flex flex-wrap'>
    <ng-container *ngIf='students$ | ngrxPush as students; else loading'>
      <li *ngFor="let student of students" class="list-group-item bg-dark text-light pd-0 m-1">
        <a class="btn-block p-2" [routerLink]='getRouterLinks(student.id)'>{{ student.first_name }} {{ student.last_name }}</a>
      </li>
    </ng-container>
    <ng-template #loading>
      <app-loading-bubble></app-loading-bubble>
    </ng-template>
  </ul>
</section>
