<h1>E Learning Admin</h1>
<ng-container *ngIf='filteredCourses$ | ngrxPush as filteredCourses; else contentLoading'>
  <section class="d-flex justify-content-around align-items-center">

    <section class="col-lg-8">
      <label for="search">Search Courses</label>
      <input (keyup)="filterStringSubject$.next($event.target.value)" type="search" id='search' class='form-control'>
    </section>
    <button class="btn btn-primary" [routerLink]='["create-course"]'><span class="icon-plus-circled"></span>New
      Course</button>
  </section>
  <section class="mt-2">

    <ul class="d-flex justify-content-start flex-wrap p-3">
      <li *ngFor='let course of filteredCourses' class="list-group-item bg-none list-group-flush p-0 col-lg-6 mt-2">
        <div class="d-flex flex-wrap justify-content-between align-items-center">

          <section class="col-lg-9 col-sm-7">
            <app-e-learning-course [course]='course'></app-e-learning-course>
          </section>

          <section class="col-lg-3 col-sm-5 d-flex justify-content-around">
            <a [routerLink]='["courses", course.id, "edit-contents"]' aria-label="Edit" class="btn btn-primary btn-sm">
              <span class="icon-edit"></span>
            </a>
          </section>
        </div>
      </li>
    </ul>
  </section>
</ng-container>
<ng-template #contentLoading>
  <app-loading-bubble></app-loading-bubble>
</ng-template>
