<div *ngIf='loadingContents; else main'>
  <h1>Edit Procurement Request</h1>
  <app-loading-bubble></app-loading-bubble>
</div>
<ng-template #main>
  <h1><span *ngIf='idControl.value !== 0'>Edit </span>Procurement Request</h1>
  <form (submit)='submitProcurementRequestForm()' [formGroup]='procurementRequestForm' class='d-flex flex-wrap mt-3'>
    <section class='col-lg-6'>
      <app-input [triggerValidation]='triggerValidationAction$ | ngrxPush' id='name' label='name' placeholder='Enter Name'
                 formControlName='name'></app-input>
    </section>
    <section class='col-lg-6'>
      <app-select type='procurement:items-categories' [triggerValidation]='triggerValidationAction$ | ngrxPush'
                  id='category' label='name'
                  placeholder='Enter Name' formControlName='category'></app-select>
    </section>
    <section class='col-lg-6'>
      <app-input [triggerValidation]='triggerValidationAction$ | ngrxPush' id='quantity' label='Quantity'
                 placeholder='Enter Quantity Description' formControlName='quantity'>
      </app-input>
    </section>
    <section class='col-lg-6'>
      <section class="form-group">
        <label for="description">Description</label>
        <textarea formControlName='description' class='form-control' id="description"></textarea>
      </section>
    </section>
    <section class='col-lg-12'>
      <app-form-errors [form]="procurementRequestForm"></app-form-errors>
      <app-validate-submit-buttons
        [isSubmitting]='submitInProgressAction$ | ngrxPush'
        (validationButtonClicked)='triggerValidationSubject$.next(true)'
        [formItem]='procurementRequestForm'
      ></app-validate-submit-buttons>
    </section>
  </form>
</ng-template>
