<ng-container *ngIf='academicYear$ | ngrxPush as academicYear'>
  <h1>Time Tables For Academic Year {{ academicYear.name }}</h1>
  <button (click)='newTimeTablePlan()' class="btn btn-primary mb-2"> <span class="icon-plus-circled"></span>  New Timetable</button>
  <div *ngIf='timeTables$ | ngrxPush as timeTables'>
    <div class="alert alert-info" *ngIf='timeTables.length === 0'>
        No Time Tables Found
    </div>
    <div>
      <ul class="list-group d-flex flex-wrap justify-content-between">
        <li class="list-group-item bg-dark col-lg-4" *ngFor='let timeTable of timeTables'>
          <a [routerLink]='["timetables", timeTable.id]' class="btn-block">
            <span class='icon-clock'></span>
            {{ timeTable.description }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</ng-container>
