<h1> {{ (editFormAction$ | ngrxPush) ? 'Update': 'Create'}} Class Level Category</h1>
<form class="card p-2" [formGroup]="classLevelCategoryForm" (submit)="submit()">
  <fieldset>
    <legend>General Details</legend>
    <section class="d-flex flex-wrap">
      <section class="col-lg-5 col-md-6 col-sm-12">
        <app-input label='Category Name' id="name" placeholder="Name" formControlName="name">
        </app-input>
      </section>
      <section class="col-lg-5 col-md-6 col-sm-6 col-xs-12 mt-sm-5 mt-lg-1">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="active" formControlName="active">
          <label class="custom-control-label" for="active">Subject Is Active</label>
        </div>
      </section>
      <section class="col-lg-12 col-md-12 col-sm-12">
        <section>
          <label for="description">Category Description</label>
            <div [hidden]='(editorInitializedAction$ | ngrxPush) === false'>
              <editor (onInit)='initializeEditor()' id='description' formControlName='description' [init]="tinyMCEConfig"></editor>
            </div>
            <div>
               <app-loading-bubble *ngIf='(editorInitializedAction$ | ngrxPush) === false'></app-loading-bubble>
            </div>
           
        </section>
      </section>
    </section>

  </fieldset>
  <section class='d-flex justify-content-end mt-2'>
    
    <button [disabled]='!classLevelCategoryForm.valid || (submitInProgressAction$ | ngrxPush)' class='btn btn-success' type='submit'>
      {{ (editFormAction$ | ngrxPush) ? 'Update': 'Create'}}
      <i *ngIf='classLevelCategoryForm.valid && (submitInProgressAction$ | ngrxPush) === false' class='icon-ok'></i>
      <i *ngIf='(submitInProgressAction$ | ngrxPush)' class='icon-spin3 animate-spin'></i>
    </button>
  </section>

</form>

