<h1>Allocate Subjects to Student</h1>
<form [formGroup]='itemForm' (submit)='submitAllocationForm()' class="card p-2">
  <section class="d-flex flex-wrap" *ngIf="v$ | ngrxPush as v">
    <section class="col-12">
      <table class="table table-dark">
        <thead>
        <th>Student Name</th>
        </thead>
        <tbody>
        <td><a [routerLink]='["/students", v.student?.id]' >{{ v.student?.firstName + ' ' + v.student?.lastName }}</a></td>
        </tbody>
      </table>
    </section>
    <fieldset aria-labelledby="general-info-label" class='col-lg-12 card d-flex flex-wrap justify-content-start'>
      <legend id="general-info-label">General Info</legend>
      <section class="col-lg-12 d-flex p-0 m-0 mb-2">
        <section class="col-lg-4">
          <label class="control-label" for="academicYear">Select Academic Year</label>
          <select formControlName='academicYear' class="form-control" id="academicYear">
            <option></option>
            <option *ngFor='let academicYear of v.academicYears'
                    [value]="academicYear.id">{{ academicYear.name }}</option>
          </select>
        </section>
        <section class='col-lg-4'>
          <label class="control-label" for="classLevel">Select Class Levels</label>
          <select formControlName='classLevel' id="classLevel" class="form-control">
            <option></option>
              <option [value]='classLevel.id' *ngFor='let classLevel of v.classLevels'> {{ classLevel.name }}</option>
          </select>
        </section>
      </section>
    </fieldset>
    <fieldset class='col-lg-12 mt-3 card' aria-labelledby='unitLevelTitle'>
      <legend id='unitLevelTitle'>Unit Levels</legend>
      <section class='d-flex flex-wrap justify-content-start mb-3'
               *ngIf='(loadingAction$ | ngrxPush) !== undefined; else loading_unitLevels'>
        <ng-container *ngIf='loadingAction$ | ngrxPush; else loading'>
          <div class="form-check col-lg-3 col-md-4 col-sm-6 mt-2" *ngFor='let unitLevel of academicYearUnitLevels'>
            <input checked='checked' [value]='unitLevel.id' (change)="onCheckboxChange($event)" class="form-check-input"
                   type="checkbox" [id]='"gridCheck" + unitLevel.id'>
            <label class="form-check-label" [attr.for]='"gridCheck" + unitLevel.id'>
              {{ unitLevel.name }}
            </label>
          </div>
        </ng-container>
        <ng-template #loading>
          <app-loading-bubble></app-loading-bubble>
        </ng-template>
      </section>
      <ng-template #loading_unitLevels>
        <section class='alert alert-info'>
          No Units/Subject Found for selected items
        </section>
      </ng-template>
    </fieldset>
    <fieldset class="col-lg-12 mt-3 d-flex flex-wrap card p-2">
      <legend>Stream Allocation</legend>
      <div class=" p-2 d-flex justify-content-start flex-wrap">
        <div *ngFor="let stream of v.streams" class="col-lg-4">
          <div class="custom-control custom-radio">
            <input formControlName="stream" type="radio" class="custom-control-input" [id]="'customRadio' + stream.id"
                   [value]="stream.id">
            <label class="custom-control-label" [attr.for]="'customRadio' + stream.id"> {{ stream.name }}</label>
          </div>
        </div>
      </div>
    </fieldset>

    <section class="mt-2 col-12 d-flex justify-content-start align-items-center">
      <div>
        <app-validate-submit-buttons [isSubmitting]='submitInProgressAction$ | ngrxPush'
                                     (validationButtonClicked)='triggerValidationSubject$.next(true)'
                                     [formItem]='itemForm'>
        </app-validate-submit-buttons>
      </div>
    </section>

  </section>
</form>
