<section class='form-group' style="position: relative;">
  <section class='d-flex flex-wrap'>
  	<label [class]='"col-md-4 col-lg-3 control-label " + labelClass' [for]='id'>
			<span class='icon-star required' [class.required-inVisible]='!isRequired'></span>{{ label }}
		</label>
	  <section [class]='inputClass ? inputClass + " input-group" : "col-md-8 col-lg-9 " + inputClass + " input-group"'>
	  	<section *ngIf='prependIcon' [class]='"input-group-prepend " + fieldClassIsValid'>
	      <span class='input-group-text' [id]='"inputGroupPrepend" + id'><i [class]='prependIcon'></i></span>
	    </section>
			<input 
	      [autocomplete]='autocomplete'
	      [autofocus]='autofocus'
	      [formControl]='formControl'
	      (keyup)='updateFieldValidation()'
	      [class]='fieldClass'
	      (blur)='validateField()'
	      [id]='[id]'
	      type='tel'
	      [placeholder]='placeholder'>
	  </section> 
	  <section  *ngIf='fieldError' class="invalid-feedback-message" style="position: absolute;" > 
      <div class="arrow-up"></div>
	     {{ fieldError }} 
   	</section>
  </section>
</section>