<h1>Study Material Maintenance</h1>

<form class="d-flex flex-wrap" (submit)='saveStudyMaterial()' [formGroup]='studyMaterialForm'>
  <section class="col-lg-5 col-md-6">
    <app-input [triggerValidation]='triggerValidation' labelClass='col-md-12 col-lg-12' inputClass='col-md-12 col-lg-12'
      label='Title' id='title' type="text" placeholder="Enter Title" formControlName="title"></app-input>
    <fieldset>
      <legend>Subjects/ Units</legend>
      <section *ngFor='let unit of units; let i = index'>
        <app-checkbox (ngModelChange)='updateUnits()' [(ngModel)]='formUnits[i]' [ngModelOptions]="{standalone: true}"
          [label]='unit.name'></app-checkbox>
      </section>

    </fieldset>
    <fieldset class="mt-3">
      <legend>Class Levels</legend>
      <section *ngFor='let classLevel of classLevels$ | ngrxPush; let i = index'>
        <app-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]='formClassLevels[i]'
          (ngModelChange)='updateClassLevels()' [label]='classLevel.name'></app-checkbox>
      </section>
    </fieldset>
  </section>
  <fieldset class="col-lg-7 d-flex flex-wrap">
    <legend class="col-lg-12">Study Material Content</legend>
    <section class="col-lg-12">
      <div class="custom-file">
        <input formControlName='pdfFile' (change)="onFileSelected()" type="file" class="custom-file-input" id="pdfFile"
          name="pdfFile">
        <label class="custom-file-label" for="pdfFile">Choose file</label>
      </div>
      <div *ngIf="isLoaded" style="text-align: center;">
        <button class="btn btn-secondary btn-sm" type="button" (click)="prevPage()" [disabled]="page === 1">Prev</button>
        <span class="ml-1 mr-1"> <input class="text-center" [attr.size]="totalPages/3 + 1" min="1" [max]="totalPages"
            [(ngModel)]='page' [ngModelOptions]="{standalone: true}" type="number" name="page" id=""> /
          {{ totalPages }}</span>
        <button class="btn btn-secondary btn-sm" type="button" (click)="nextPage()"
          [disabled]="page === totalPages">Next</button>
      </div>
    
      <pdf-viewer [page]="page" (after-load-complete)="afterLoadComplete($event)" [show-all]='false' [fit-to-page]="true"
        [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer>
    </section>
    <fieldset class="col-lg-12">
      <legend>Page Bookmarks</legend>
      <app-add-study-materials-title [items]='outline'></app-add-study-materials-title>
    </fieldset>
  </fieldset>

  <button class='btn btn-success' [disabled]='isSubmitting || studyMaterialForm.invalid'>
    Save Study Material
    <i *ngIf='isSubmitting' class='icon-spin3 animate-spin'></i>
    <i *ngIf='!isSubmitting' class='icon-ok-1'></i>
  </button>
</form>