<ng-container *ngIf=' student$ | ngrxPush as student; else loading'>
  <h1>Student Guardian Creation <span class="icon-right-dir"></span>{{ student.firstName }} {{ student.lastName }}</h1>
  <section class="card p-2">
    <form [formGroup]="userIdentificationForm" (submit)='submitGuardianForm()'>
      <button type="button" class='icon-plus-circled btn btn-primary btn-sm' (click)="addGuardians()">Add Guardian <span
        class="sr-only">Guardian form section</span></button>
      <section formArrayName="guardians">
        <div class="mb-1 mt-1" *ngFor="let guardian of guardians.controls; let i = index">
          <fieldset class="card p-2 d-flex flex-wrap" [formGroupName]="i">
            <legend>
              Enter Details for the {{ i + 1 | ordinal }} Guardian
            </legend>
            <div class="col-12 d-flex justify-content-end"><button type="button" (click)="removeGuardian(i)"
                         [disabled]="guardians.controls.length === 1" class="btn btn-outline-danger btn-sm"><span
              class="icon-trash"></span>Delete
            </button></div>
            <fieldset class="card pl-3">
              <legend>
                <small>Email and Phone Number</small>
              </legend>
              <section class="d-flex justify-content-between flex-wrap">
                <section class="col-lg-5">

                  <app-input [triggerValidation]="triggerValidationAction$ | ngrxPush" label='Email' id="{{ 'email' + i }}"
                             type="email"
                             placeholder="Please Enter Email" formControlName="email"></app-input>
                </section>
                <section class="col-sm-12 col-md-12 col-lg-7" *ngIf="confirmData[i]">
                  <span [id]='"email-confirm-" + i'>User with the email Exists. Do You wish to Use this Email?</span>
                  <button aria-label="Yes" [attr.aria-describedby]='"email-confirm-" + i'
                          (click)="updateFieldsForEmail(i)"
                          style="margin-left: 15px" type="button" class="btn btn-outline-primary">Yes
                  </button>
                  <button [attr.aria-describedby]='"email-confirm-" + i' (click)="clearEmail(i)"
                          style="margin-left: 15px"
                          type="button" class="btn btn-outline-warning">No
                  </button>
                </section>
                <section class="col-lg-6" *ngIf="confirmedData[i]">
                  <app-tel-input [id]='"phone" + i' label='Phone Number' placeholder='Enter phone number'
                                 formControlName="phone">
                  </app-tel-input>
                </section>
              </section>
            </fieldset>
            <fieldset *ngIf="confirmedData[i]" class="card pl-3 mt-2">
              <legend>
                <small>Name</small>
              </legend>
              <section class='d-flex flex-wrap'>
                <section class='col-lg-4 col-sm-6 col-xs-12'>
                  <app-input [triggerValidation]='triggerValidationAction$ | ngrxPush' placeholder='Enter First Name'
                             [id]="'firstName' + i"
                             label='First Name' formControlName='firstName'>
                  </app-input>
                </section>
                <section class='col-lg-4 col-sm-6 col-xs-12'>
                  <app-input [triggerValidation]='triggerValidationAction$ | ngrxPush' placeholder='Enter Last Name'
                             [id]="'lastName' + i"
                             label='Last Name' formControlName='lastName'>
                  </app-input>
                </section>
                <section class='col-lg-4 col-sm-6 col-xs-12'>
                  <app-input [id]="'middleName' + i" placeholder='Enter Middle Name' label='middle Name'
                             formControlName='middleName'>
                  </app-input>
                </section>
                <section class='col-lg-4 col-sm-6 col-xs-12'>
                  <app-input [id]="'otherNames' + i" placeholder='Enter Other Names' label='Other Names'
                             formControlName='otherNames'>
                  </app-input>
                </section>
              </section>
            </fieldset>
            <fieldset *ngIf="confirmedData[i]" class="card pl-3 mt-2">
              <legend>
                <small>Other Details</small>
              </legend>
              <section class='d-flex flex-wrap'>
                <section class='col-lg-4 col-md-4 col-sm-6 col-xs-12'>
                  <app-input [triggerValidation]="triggerValidationAction$ | ngrxPush" id="{{ 'relation' + i }}"
                             type="text" label="Relation"
                             placeholder="Relationship To Student" formControlName="relation"></app-input>
                </section>
                <section class='col-lg-4 col-md-4 col-sm-6 col-xs-12'>
                  <app-select label='Gender' id="{{ 'gender' + i}}" formControlName="gender" placeholder="Gender"
                              type='gender'>
                  </app-select>
                </section>
                <section class='col-lg-4 col-md-4 col-sm-6 col-xs-12'>
                  <app-input [triggerValidation]="triggerValidationAction$ | ngrxPush" label='Date of Birth'
                             [id]='"dateOfBirth" + i'
                             type='date' placeholder="Date Of Birth" formControlName="dateOfBirth"></app-input>
                </section>
                <section class='col-lg-4 col-md-4 col-sm-6 col-xs-12'>
                  <app-input [id]='"birth-cert-no-" + i' label='Birth Cert No'
                             placeholder="Birth Certificate Number" formControlName="birthCertNumber"></app-input>
                </section>
                <section class='col-lg-4 col-md-4 col-sm-6 col-xs-12'>

                  <app-select placeholder='Enter Religion' id="{{ 'religion' + i}}" formControlName="religion"
                              label='religion' type='religion'></app-select>
                </section>
              </section>
            </fieldset>
          </fieldset>
        </div>
        <section class='d-flex justify-content-end'>
          <app-validate-submit-buttons [isSubmitting]='submitInProgressAction$ | ngrxPush'
                                       (validationButtonClicked)='triggerValidationSubject$.next(true)'
                                       [formItem]='userIdentificationForm'>
            <span>Save Guardians</span>
          </app-validate-submit-buttons>
        </section>
      </section>
    </form>
  </section>

</ng-container>
<ng-template #loading>
  <h1>Student Guardian Creation</h1>
  <div>
    <app-loading-bubble></app-loading-bubble>
  </div>
</ng-template>
