<h1>View Tender Bids</h1>

<section *ngIf='procurementRequest$ | async as procurementRequest; else loading'>
  <h2>Procurement Request</h2>
  <app-procurement-item [item]='procurementRequest'></app-procurement-item>
  <h2>Tender Info</h2>
  <section *ngIf='procurementRequest.tenders?.length > 0; else noTenders'>
    <section *ngFor='let tender of procurementRequest.tenders; let i = index'>
      <p>{{ tender.description }}</p>
      <p > Expiry Date: <span [class.current-expiry-date]="procurementRequest.tenders.length !== (i + 1)">{{ tender.expiry_datetime | date }}</span></p>
    </section>
  </section>
  <ng-template #noTenders>
    <section class="alert alert-info">
      No Tenders Created Yet 
      <button 
        [routerLink]='["/procurements/requests/" + procurementRequest.id + "/tender"]' 
        class='btn btn-info'>Create Tender</button>
    </section>
  </ng-template>
  <h2>Bids <button (click)="openModalWithComponent()" class="btn btn-sm btn-primary"><span class='icon-plus-circled'></span>Add Bid</button></h2>
  
  <app-view-procurement-tender-bids [procurementRequestId]='procurementRequest.id'></app-view-procurement-tender-bids> 
  
</section>
<ng-template #loading>
  <app-loading-bubble></app-loading-bubble>
</ng-template>