<h1>Procurements - Pending Requests</h1>
<section *ngIf='(procurementItems$ | ngrxPush) as procurementItems; else loading'>
   <section *ngIf='procurementItems.length === 0' class="alert alert-info">No Pending Items!</section>
  
  <accordion [closeOthers]=[true]>
    <accordion-group class="mt-2" *ngFor='let procurementItem of procurementItems; let i = index' [(isOpen)]="isOpen[i]">
     
      <section  class="active" accordion-heading class="d-flex justify-content-between">
        <h2>{{ procurementItem.name }}</h2>
        <section>
          <button class="btn btn-primary btn-sm"><span [class.icon-down-dir]='!isOpen[i]' [class.icon-up-dir]='isOpen[i]'></span>View</button>
        </section>
      </section>
      
      <section>
          <table class="table table-bordered bg-dark text-light">
            <caption>Procurement Item Request Description</caption>
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Request ID</td>
                <td>#{{ procurementItem.id }}</td>
              </tr>
              <tr>
                <td>Item Name</td>
                <td>{{ procurementItem.name }}</td>
              </tr>
              <tr>
                <td>Quantity</td>
                <td>{{ procurementItem.quantity_description }}</td>
              </tr>
              <tr>
                <td>Description</td>
                <td>{{ procurementItem.description }}</td>
              </tr>
              <tr>
                <td>Requested by</td>
                <td>{{ procurementItem.user?.first_name }} {{procurementItem.user?.last_name}}</td>
              </tr>
            </tbody>
          </table>
        <section class="d-flex justify-content-between mt-3">

          <button  (click)='reject(procurementItem.id, i)' class='btn btn-danger btn-sm mr-2'>
            Reject <i *ngIf='isRejecting[i]' class='icon-spin3 animate-spin'></i>
            <i *ngIf='!isRejecting[i]' class='icon-thumbs-down'></i>
          </button>
          <button (click)='approve(procurementItem.id, i)' class='btn btn-success btn-sm mr-2'>
            Approve<i *ngIf='isApproving[i]' class='icon-spin3 animate-spin'></i>
            <i *ngIf='!isApproving[i]' class='icon-thumbs-up'></i>
          </button>
        </section>
      </section>
    </accordion-group>
  </accordion>
</section>
<ng-template #loading>
  <app-loading-bubble></app-loading-bubble>
</ng-template>


