<div class="d-flex pl-3 pr-3 flex-wrap">

  <label class="control-label col-lg-4" [for]="id">
    <span class='icon-star required' [class.required-inVisible]='!isRequired'></span>
    {{ label }}
  </label>

  <select 
    [formControl]="formControl"
    (blur)="validateField()"
    (change)="validateField()"
    [class.is-invalid]='fieldError'
    class="form-control  col-lg-8"
    [id]="id">
    <option selected value="">Choose...</option>
    <option *ngFor="let category of categories$ | async" [value]="category.id">
      {{ category?.name }}
    </option>
    <option disabled='true' *ngIf='(categories$ | async) === null'>Loading...</option>
  </select>
  <section *ngIf='fieldError' class="invalid-feedback-message" style="position: absolute;">
    <div class="arrow-up"></div>
    {{ fieldError }}
  </section>
</div>