<div class="d-flex flex-wrap">

  <label class="control-label pl-3" [attr.for]="id">
    <span class='icon-star required' [class.required-inVisible]='!isRequired'></span>
    {{ label }}
  </label>

  <select
    [formControl]="formControl"
    (blur)="validateField()"
    (change)="validateField()"
    [class.is-invalid]='fieldError'
    class="form-control"
    [id]="id">
    <option selected value="">Choose...</option>
    <option *ngFor="let category of categories$ | ngrxPush" [value]="category.id">
      {{ category?.name }}
    </option>
    <option disabled='disabled' *ngIf='(categories$ | ngrxPush) === null'>Loading...</option>
  </select>
  <section *ngIf='fieldError' class="invalid-feedback-message" style="position: absolute;">
    <div class="arrow-up"></div>
    {{ fieldError }}
  </section>
</div>
