<h1>Class Level - Unit Allocation</h1>
<!--{{ classLevelsWithUnits$ | ngrxPush | json }}-->
<ng-container *ngIf="v$ | ngrxPush as v; else loading">
  <a [routerLink]="['../view']" class="btn btn-primary" ><span class="icon-eye"></span>View Unit Allocations</a>
  <form [formGroup]="itemForm" (submit)="submitForm()">

    <div>
      <app-validate-submit-buttons [formItem]="itemForm" [isSubmitting]="submitInProgressAction$ | ngrxPush"><span>Save Allocations</span></app-validate-submit-buttons>
    </div>
    <table class="table table-dark" formArrayName="allocations">
      <thead>
      <tr class="d-flex flex-wrap">
        <th class="col-lg-4"> Class Level</th>
        <th class="col-lg-8">Unit Levels</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let classLevel of allocations.controls; let i = index" class="d-flex flex-wrap" [formGroupName]="i">
        <td class="col-lg-4">{{ classLevel.get('name').value }}</td>
        <td class="col-lg-8">
          <div class="d-flex flex-wrap">
            <ng-select formControlName="unitLevels" [closeOnSelect]="false" [multiple]="true" [items]="v.unitLevels" bindLabel="name" bindValue="id"></ng-select>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </form>

</ng-container>
<ng-template #loading>
  <app-loading-bubble></app-loading-bubble>
</ng-template>
