<h1>Academic Year Archives</h1>

<section class="d-flex flex-wrap justify-content-around" *ngIf='academicYears$ | ngrxPush as academicYears; else loading'>
  <section class="card col-lg-5 m-1" *ngFor='let academicYear of academicYears'>
    <section class="card-header">
      <h2>{{ academicYear.name }}</h2>
    </section>
    <section class="card-body p-2">
      <ul class="list-group">
        <li class="list-group-item bg-dark list-group-flush mb-1"> <a class="card-link  btn-block"
            [routerLink]='["/academics", "academic-year", academicYear.id, "unit-allocations"]'>
            Subject/Unit Allocations</a></li>
        <li class="list-group-item bg-dark"> <a class="card-link btn-block"
            [routerLink]='["/academics", "academic-year", academicYear.id, "financial-plan"]'>Financial Plan</a></li>
        <li class="list-group-item bg-dark"> <a class="card-link btn-block"
            [routerLink]='["/academics", "academic-year", academicYear.id, "time-table"]'>Time Table</a></li>
      </ul>
    </section>
  </section>
</section>
<ng-template #loading>
  <app-loading-bubble></app-loading-bubble>
</ng-template>