h1 {
  font-size: 1.5rem;
}

a {
  text-decoration: underline;
}
@media (min-width: 477px) {
  .card {
  	min-width: 478x;
  }
}

@media (min-width: 768px) {
  .card {
  	min-width: 500px;
  }
}

@media (min-width: 992px) {
  .card {
  	min-width: 480px;
  }
}

@media (max-width: 400px) {
  .card {
  	width: 95%;
  }
}
@media (max-width: 500px) {
  .login-error .alert {
    padding: 0.8rem;
    font-size: 0.8rem;
    line-height: 0.8rem;
  }

}
.login-error {
  position: absolute; width: 100%
}
