<section class="login-error">
  <app-error></app-error>
</section>
<app-full-with-center>
  <section class='d-flex'>
    <section class='card col-lg-12'>
      <section class='card-header'>
        <h1>Login</h1>
      </section>
      <form [formGroup]='loginForm' (ngSubmit)='submitLoginForm()' class='card-body form-horizontal'>
        <app-input [triggerValidation]='triggerValidation' label='Username' placeholder='Enter username/email'
          icon-lock-filled id='username' formControlName='username' prependIcon='icon-user' autocomplete='username'>
        </app-input>
        <app-input [triggerValidation]='triggerValidation' label='Password' placeholder='Enter Password' id='password'
          formControlName='password' prependIcon='icon-lock-filled' autocomplete='current-password' type='password'>
        </app-input>
        <section class='d-flex justify-content-between align-items-end'>
          <section>
            <a [routerLink]='["/login/token"]' queryParamsHandling='preserve'>Login Using Token</a>
          </section>
          <button [disabled]='!(submitButtonActive$ | async)' class='btn btn-success'
            type='submit'>
            Login
            <i *ngIf='loginForm.valid && !isSubmitting' class='icon-ok'></i>
            <i *ngIf='isSubmitting' class='icon-spin3 animate-spin'></i>
          </button>

        </section>
      </form>
      <section class='card-footer d-flex justify-content-between flex-wrap'>
        <section class="col-9 col-sm-10 col-md-10 col-md-11 p-0 d-flex justify-content-between">
          <span class="d-none d-sm-inline-block">forgot password?</span>
          <a routerLink='/login/contact-admin' queryParamsHandling='preserve'>Contact Admin</a>
          |
          <a aria-label="Reset Password" routerLink='/login/reset' queryParamsHandling='preserve'>Reset <span
              class="d-xs-inline-block d-sm-none">Password</span></a>
        </section>
        <section class="col-1">
          <a title='go to home' routerLink='/'><i class='icon-home'></i></a>
        </section>
      </section>
    </section>
  </section>

</app-full-with-center>
