<app-full-with-center>
  <section class='d-flex'>
    <section class='card col-lg-12'>
      <section class='card-header'>
        <h1>Login</h1>
      </section>
      <form [formGroup]='loginForm' (ngSubmit)='submit()' class='card-body form-horizontal'>
        <section class='form-group d-flex flex-wrap'>
          <label class='col-lg-4 control-label' for='username'>Username</label>
          <section class='col-lg-8'>
            <input formControlName='username' [class]='usernameFieldClass' (blur)='validateUsername()' id='username'
              type='text' placeholder='label'>
            <span *ngIf='errors.username' class='invalid-feedback'> {{ errors.username}} </span>
          </section>
        </section>
        <section class='form-group d-flex flex-wrap'>
          <label class='col-lg-4 control-label' for='username'>Password</label>
          <section class='col-lg-8'>
            <input [class]='passwordFieldClass' formControlName='password'
              (blur)='validatePassword()' id='password' type='text'
              placeholder='label'
              formControlName='password'>
            <span *ngIf='errors.password'> {{ errors.password}} </span>
          </section>
        </section>
        <section class='d-flex justify-content-end'>
          <input class='btn btn-success' type='submit' value='Login'>
        </section>
      </form>
      <section class='card-footer d-flex justify-content-between'>
        <span>forgot password? <a routerLink='/login/reset'>contact admin</a> | <a
            routerLink='/login/contact-admin'>Reset</a></span>
        <a title='go to home' routerLink='/'><i class='icon-home'></i></a>
      </section>
    </section>
  </section>
</app-full-with-center>
