<section class='form-group' style="position: relative;">
	<section class='d-flex flex-wrap'>
		<label [class]='"col-md-4 col-lg-4 control-label " + labelClass' [for]='id'>
			<span class='icon-star required' [class.required-inVisible]='!isRequired'></span>{{ label }}
		</label>
		<section [class]='inputClass ? inputClass + " input-group" : "col-md-8 col-lg-8 " + inputClass + " input-group"'>
			<section *ngIf='prependIcon' [class]='"input-group-prepend " + fieldClassIsValid'>
				<span class='input-group-text' [id]='"inputGroupPrepend" + id'><i [class]='prependIcon'></i></span>
			</section>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<ng-select bindLabel="name" placeholder="Select item" appendTo="body" [searchable]="true"
						[clearable]="true">
						<ng-option>KE (+254)</ng-option>
						<ng-option [value]="item.id" [disabled]="item.disabled" *ngFor="let item of items">
							<img src="./assets/{{item}}" width="20px" height="20px" />
							{{item.name}}
						</ng-option>
					</ng-select>
					<select formControlName="phoneCode" (selected)="updateSelectedPhone(i)" [(value)]="selectedPhoneCode"
						(blur)="validatePhone(i)" id="{{ 'phoneCode' + i}}">
						<option>KE(+254)</option>
						<option data-thumbnail="images/icon-firefox.png">Firefox</option>
						<option *ngFor="let country of countries" [value]="country.code">
							<span class="flag-icon flag-icon-{{ country.country | lowercase}}"></span>
							{{ country.country }} (+{{ country.code }})
						</option>
					</select>
				</div>
				<input [autocomplete]='autocomplete' [autofocus]='autofocus' [formControl]='formControl'
					(keyup)='updateFieldValidation()' [class]='fieldClass + " form-control"' (blur)='validateField()' [id]='[id]'
					type='tel' [placeholder]='placeholder'>

			</div>
		</section>
		<section *ngIf='fieldError' class="invalid-feedback-message" style="position: absolute;">
			<div class="arrow-up"></div>
			{{ fieldError }}
		</section>
	</section>
</section>
