<h1>Create Academic Year</h1>
<section class="card p-2">
  <form [formGroup]="academicYearForm" (submit)='submitAcademicYearForm()'>
    <fieldset class="card p-2">
      <legend>General Info</legend>
      <section class="d-flex flex-wrap ">
        <section class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <app-input
            id="name"
            placeholder="Academic Year Name"
            formControlName="name"
            label="Academic Year Name"
            labelClass="col-sm-12 col-md-12 col-lg-12"
            inputClass="col-sm-12 col-md-12 col-lg-12"
            [triggerValidation]='triggerValidationAction$ | ngrxPush'
          ></app-input>
        </section>
        <section class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <app-input
            id='startDate'
            placeholder="Start Date"
            formControlName="startDate"
            label="Start Date"
            type="date"
            labelClass=""
            inputClass=""
            [triggerValidation]='triggerValidationAction$ | ngrxPush'
          ></app-input>
        </section>
        <section class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <app-input
            id='endDate'
            placeholder="End Date"
            formControlName="endDate"
            label="End Date"
            type="date"
            labelClass=""
            inputClass=""
            [triggerValidation]='triggerValidationAction$ | ngrxPush'
          ></app-input>
        </section>
      </section>
    </fieldset>
    <app-form-errors [form]="academicYearForm"></app-form-errors>
    <app-validate-submit-buttons [isSubmitting]='submitInProgressAction$ | ngrxPush'
                                 (validationButtonClicked)='triggerValidationSubject$.next(true)' [formItem]='academicYearForm'>
    </app-validate-submit-buttons>
  </form>
</section>
