<h1>
  Create New {{ (supportStaff !== 0) ? 'Support Staff': 'Teacher'}}
  <ng-container *ngIf='(staffType$ | ngrxPush) as staffType'>
     <span *ngIf='supportStaff !== 0' class="icon-right-dir"></span>
     <span *ngIf='supportStaff !== 0'>{{ staffType.name | titlecase }}</span>
  </ng-container>

</h1>
<section class="card p-2">
  <form [formGroup]='newTeacherForm' (submit)='submitNewTeacherForm()'>
    <fieldset class="card p-2">
      <legend>Email</legend>
      <section>
        <section class="col-lg-5">

          <app-input [triggerValidation]="triggerValidationAction$ | ngrxPush" label='Email' id="email" type="email"
                     placeholder="Please Enter Email" formControlName="email"></app-input>
        </section>
        <section aria-atomic="true" aria-live="polite" class="col-sm-12 col-md-12 col-lg-7" *ngIf="confirmData">
          <span id='email-confirm'>User with the email Exists. Do You wish to Use this Email?</span>
          <button aria-label="Yes" aria-describedby='email-confirm' (click)="updateFieldsForEmail()"
                  style="margin-left: 15px" type="button" class="btn btn-outline-primary">Yes</button>
          <button aria-describedby='email-confirm' (click)="clearEmail()" style="margin-left: 15px" type="button"
                  class="btn btn-outline-warning">No</button>
        </section>
      </section>
    </fieldset>
    <fieldset class="card p-2 mt-2">
      <legend>Name</legend>
      <section class='d-flex flex-wrap'>
        <section class='col-lg-4 col-sm-6 col-xs-12'>
          <app-input [triggerValidation]='triggerValidationAction$ | ngrxPush' placeholder='Enter First Name' id='firstName'
                     label='First Name' formControlName='firstName'>
          </app-input>
        </section>
        <section class='col-lg-4 col-sm-6 col-xs-12'>
          <app-input [triggerValidation]='triggerValidationAction$ | ngrxPush' placeholder='Enter Last Name' id='lastName'
                     label='Last Name' formControlName='lastName'>
          </app-input>
        </section>
        <section class='col-lg-4 col-sm-6 col-xs-12'>
          <app-input id='middleName' placeholder='Enter Middle Name' label='middle Name' formControlName='middleName'>
          </app-input>
        </section>
        <section class='col-lg-4 col-sm-6 col-xs-12'>
          <app-input id='otherNames' placeholder='Enter Other Names' label='Other Names' formControlName='otherNames'>
          </app-input>
        </section>
      </section>
    </fieldset>
    <fieldset class="card p-2 mt-2">
      <legend>Other DetailS</legend>
      <section class='d-flex flex-wrap'>
        <section class='col-lg-3 col-md-6 col-sm-12 col-xs-12'>
          <app-input type='date'
                     [triggerValidation]='triggerValidationAction$ | ngrxPush' placeholder='Enter Date Of Birth' id='dateOfBirth'
                     label='Date Of Birth' formControlName='dateOfBirth'>
          </app-input>
        </section>
        <section class='col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex flex-wrap mt-xs-1 mt-sm-0 p-0'>
          <app-tel-input id='tel' formControlName='phone'
                         [triggerValidation]='triggerValidationAction$ | ngrxPush' label='Phone' placeholder='Enter Phone Number' type='tel'>
          </app-tel-input>
        </section>
        <section class='col-lg-3 col-md-6 col-sm-6 col-xs-12'>
          <label class="col-12 control-label p-0" for="genderField">
            Gender
          </label>
          <section class="col-12 p-0">
            <select formControlName='gender' id="genderField" class="custom-select">
              <ng-container *ngIf='(genders$ | ngrxPush) as genders'>
                <ng-container *ngIf='genders[0]?.id; else genderLoading'>
                  <option value=''>Select Gender</option>
                  <ng-container *ngFor='let gender of genders'>
                    <option [value]='gender.id'>{{ gender.name }}</option>
                  </ng-container>
                </ng-container>
                <ng-template #genderLoading>
                  <option value="">Please wait ... </option>
                </ng-template>
              </ng-container>
            </select>
          </section>
        </section>
        <section class='col-lg-3 col-md-6 col-sm-6 col-xs-12'>
          <label class="col-12 control-label p-0" for="religionField">
            Religion
          </label>
          <section class="col-12 p-0">
            <select formControlName='religion' id="religionField" class="custom-select">
              <ng-container *ngIf='(religions$ | ngrxPush) as religions' )>
                <ng-container *ngIf='religions[0]?.id; else religionLoading'>
                  <option value=''>Select Religion</option>
                  <ng-container *ngFor='let religion of religions'>
                    <option [value]='religion.id'>{{ religion.name }}</option>
                  </ng-container>
                </ng-container>
                <ng-template #religionLoading>
                  <option value="">Please wait ... </option>
                </ng-template>
              </ng-container>

            </select>
          </section>
        </section>

      </section>
    </fieldset>

    <section class="p-2">
      <app-validate-submit-buttons [isSubmitting]='submitInProgressAction$ | ngrxPush'
                                   (validationButtonClicked)='triggerValidationSubject$.next(true)' [formItem]='newTeacherForm'>
        <!-- Create Teacher -->
      </app-validate-submit-buttons>
    </section>
  </form>
</section>
