<section *ngIf='academicYearPlan$ | async as academicYearPlan'>
  <h1>
    Financial Plan <span class='icon-right-dir'></span> Academic Year
    <span *ngIf='academicYearPlan.academicYear.id !== 0' class="icon-right-dir"></span>
    <span *ngIf='academicYearPlan.academicYear.id !== 0'>{{ academicYearPlan.academicYear.name }}</span>
  </h1>
  <app-loading-bubble *ngIf='academicYearPlan.academicYear.id === 0; else contents'></app-loading-bubble>

  <ng-template #contents>
    <section class="d-flex justify-content-end">
      <a [routerLink]='["/accounts", "financial-plan", "academic-year", academicYearPlan.academicYear.id, "edit"]'
        class='btn btn-primary btn-sm'>
        Edit <span class="icon-edit"></span>
      </a>
    </section>
  </ng-template>
</section>