<section *ngIf='academicYearPlan$ | async as academicYearPlan; else loading'>
  <h1>
    Financial Plan <span class='icon-right-dir'></span> Academic Year <span class="icon-right-dir"></span>
    <span>{{ academicYearPlan.academicYear.name }}</span>
  </h1>

  <div class="card p-2">
    <section class="d-flex justify-content-end">
      <a [routerLink]='["/accounts", "financial-plan", "academic-year", academicYearPlan.academicYear.id, "edit"]'
         class='btn btn-primary btn-sm'>
        Edit <span class="icon-edit"></span>
      </a>
    </section>
    {{ academicYearPlan.financialYearPlan | json }}
  </div>
</section>
<ng-template #loading>
  <h1>Financial Plan <span class='icon-right-dir'></span> Academic Year</h1>
  <app-loading-bubble></app-loading-bubble>
</ng-template>
