<!-- Sidebar -->
<div class="bg-dark border-right" id="sidebar-wrapper">
  <div class="sidebar-heading d-flex justify-content-between">
    Furaha SMS
    <button
    (click)='toggleMenu()'
    class="hidden-sm-up btn btn-secondary"
    type="button">
          <span class="icon-exchange"></span>
    </button>

  </div>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action bg-dark">Dashboard</a>
    <a href="#" class="list-group-item list-group-item-action bg-dark">Shortcuts</a>
    <a href="#" class="list-group-item list-group-item-action bg-dark">Overview</a>
    <a href="#" class="list-group-item list-group-item-action bg-dark">Events</a>
    <a href="#" class="list-group-item list-group-item-action bg-dark">Profile</a>
    <a href="#" class="list-group-item list-group-item-action bg-dark">Status</a>
  </div>
</div>
    <!-- /#sidebar-wrapper -->