<h1>E Learning Courses</h1>
<ng-container *ngIf='contentLoaded; else contentLoading'>
  <section class="d-flex justify-content-around align-items-center">

    <section class="col-lg-12">
      <label for="search">Search Courses</label>
      <input [(ngModel)]='filterString' type="search" id='search' class='form-control'>
    </section>
  </section>
  <section class="mt-2">

    <ul class="d-flex justify-content-start flex-wrap p-3">
      <li *ngFor='let course of filteredCourses' class="list-group-item bg-none list-group-flush p-0 col-lg-6 mt-2">
        <app-e-learning-course [course]='course'></app-e-learning-course>
      </li>
    </ul>
  </section>
</ng-container>
<ng-template #contentLoading>
  <app-loading-bubble></app-loading-bubble>
</ng-template>