section {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: -20px;;
}
span {
  color: yellowgreen;
}
.required {
  font-size: 0.5em;
  position: absolute;
  left: 0;
  top: 5px;
  color: greenyellow;
}
