<h1>E-Learning Course Maintenance</h1>
<div class="card p-2" *ngIf="v$ | ngrxPush as v">
  <section *ngIf='(editorInitializedAction$ | ngrxPush) === false'>
    <app-loading-bubble></app-loading-bubble>
  </section>
  <form (submit)='submitCourseForm()' [formGroup]='newCourseForm' class="d-flex flex-wrap"
        [class.sr-only]='(editorInitializedAction$ | ngrxPush) === false'>
    <div class="col-12 mt-2 pt-1">
      <app-label-star-required></app-label-star-required>
    </div>
    <fieldset class="card p-2 pt-0">
      <legend class="mb-0">General Info</legend>
      <div class="d-flex flex-wrap justify-content-start">
        <section class="col-lg-4 col-sm-6">
          <label class="col-12 control-label" for="academicYear">
            <app-star-required></app-star-required>
            Academic Year</label>

          <select id="academicYear" class="form-control" formControlName='academicYear'>
            <option *ngFor='let academicYear of v.academicYears'
                    [value]="academicYear.id">{{ academicYear.name }}
            </option>
          </select>
        </section>
        <section class="col-lg-4 col-sm-6">
          <label class="col-12 control-label" for="classLevel">
            <app-star-required></app-star-required>
            Class Level</label>
          <select id="classLevel" class="form-control" formControlName='classLevel'>
            <option *ngFor='let classLevel of v.classLevels'
                    [value]="classLevel.id">{{ classLevel.name }}</option>
          </select>
        </section>

        <section class="col-lg-4 col-sm-6">
          <label class="col-12 control-label" for="unit">
            <app-star-required></app-star-required>
            Unit/Subject</label>
          <select id="unit" class="form-control" formControlName='unit'>
            <option *ngFor='let unit of v.units' [value]="unit.id">{{ unit.name }}</option>
          </select>
        </section>
        <section class="col-lg-4 col-sm-6">
          <app-input [triggerValidation]='triggerValidationAction$ | ngrxPush' label='Course Name'
                     placeholder='Enter Course Name' id='name'
                     formControlName='name'></app-input>
        </section>
        <section class="col-lg-4 col-sm-6">
          <label class="col-12" for="unitLevel">
            <app-star-required></app-star-required>
            Unit Level</label>
          <ng-select formControlName="unitLevel" id="unitLevel" [items]="unitLevels$ | ngrxPush" bindValue="id" bindLabel="name"></ng-select>
        </section>
        <section class="col-lg-12">
          <label for="description">Course Description</label>
          <editor (onInit)='initializeEditor()' id='description' formControlName='description'
                  [init]="tinyMCEConfig"></editor>
        </section>
      </div>


    </fieldset>
    <fieldset class="card p-2 pt-0 d-flex flex-wrap mt-2">
      <legend>Topics Info</legend>
      <section class="col-lg-4">
        <label class="col-12" for="level1NumberingStyle">
          <app-star-required></app-star-required>
          Level 1 Topic Numbering Style
        </label>
        <input formControlName='numbering' placeholder="Eg Topic, Chapter, etc" type="text" class='form-control'
               id="level1NumberingStyle" list="numbering-list">
      </section>
      <section class="col-lg-12">
        <fieldset class="mt-3">
          <legend>Topics</legend>
          <section>
            <button (click)='openModal({ component: template, id: -1 })' type="button"
                    class="btn btn-sm btn-primary mt-2 mb-2"><span
              class="icon-plus-circled"></span>Add Topic
            </button>
            <section>
              <ng-template #itemTemplate let-item="item.initData" let-index="index">
                <span class="chapter-title">{{ newCourseForm.get('numbering')?.value}} {{ index + 1 }}
                  : {{ item.description }}</span>
                <button type="button" (click)='deleteTopic(index)' class="btn btn-danger btn-sm float-right mr-2"><span
                  class="icon-trash"></span></button>
                <button type="button" (click)='openModal({component:template, id:index})'
                        class="btn btn-primary btn-sm float-right mr-2" aria-label="Edit Topic"><span
                  class="icon-edit-1"></span></button>

                <fieldset class="card p-2 pl-0" style="background: initial">
                  <legend>Subtopics</legend>

                  <ol class="ml-0 pl-0">
                    <ng-container *ngFor="let itemSubtopic of item.subTopics;">
                      <li class="sortable-item"
                          [style.--number-prefix]="'\''+ item.numbering" *ngIf="!!itemSubtopic">
                        {{ itemSubtopic?.description }}
                      </li>
                    </ng-container>
                  </ol>

                  <div>
                  </div>
                </fieldset>
              </ng-template>
              <bs-sortable
                [(ngModel)]="topics"
                [itemTemplate]="itemTemplate"
                fieldName="description"
                [ngModelOptions]="{standalone: true}"
                itemClass="sortable-item"
                itemActiveClass="sortable-item-active"
                placeholderItem="No Topics Added Yet"
                placeholderClass="alert alert-info"
                wrapperClass="sortable-wrapper"
                (onChange)="updateTopics()"
              ></bs-sortable>
            </section>
          </section>
          <ng-template #template>
            <div class="modal-header bg-dark">
              <h4 class="modal-title pull-left">New Level 1 Topic</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>

              </button>
            </div>
            <div class="modal-body bg-dark">
              <form [formGroup]='newTopicForm' (submit)='addNewTopic()'>
                <section class="d-flex flex-wrap">
                  <div class="col-12 mt-2">
                    <app-label-star-required></app-label-star-required>
                  </div>
                  <section class="col-lg-12">
                    <app-input id='newTopicName' placeholder="Topic Description" formControlName="name"
                               label="Topic Description"
                               [triggerValidation]='triggerValidationAction$ | ngrxPush'></app-input>
                  </section>

                  <section class="col-lg-5">
                    <label class="col-12" for="numberingStyle">
                      <app-star-required></app-star-required>
                      Sub Topic Numbering Style</label>
                    <input formControlName='numbering' placeholder="Eg Topic, Chapter, etc" type="text"
                           class='form-control' id="numberingStyle" list="numbering-list">

                  </section>
                  <section class="col-lg-12">
                    <fieldset class="card p-2 mt-3" formArrayName='subTopics'>
                      <legend>Sub Topics</legend>

                      <section class="d-flex flex-wrap mt-2">
                        <div class="col-12 mb-2">
                          <button [disabled]='newTopicSubTopics.invalid' type="button" (click)='addSubTopic()'
                                  class="btn btn-sm btn-primary"><span class="icon-plus-circled"></span>Add Subtopic
                          </button>
                        </div>


                        <section class="col-12">
                          <ng-template #subTopicTemplate let-item="item.initData" let-index="index">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  {{ newTopicForm.get('numbering')?.value }} {{ index + 1 }}:
                                </span>
                              </div>
                              <input *ngIf="subTopics[index]" (keyup)="updateSubTopics()"
                                     [attr.aria-label]='"Enter Subtopic description"' (blur)="updateSubTopicContent()"
                                     [ngModelOptions]="{standalone: true}"
                                     class="form-control" [(ngModel)]="subTopics[index].description">
                              <div class="input-group-append">
                                <button type="button" [attr.aria-label]='"delete subtopic " + (index + 1)'
                                        (click)='deleteSubTopic(index)' class="btn btn-xs btn-danger"><span
                                  class="icon-cancel-circled-outline"></span>
                                </button>
                              </div>
                            </div>
                          </ng-template>
                          <bs-sortable
                            [(ngModel)]="subTopics"
                            [itemTemplate]="subTopicTemplate"
                            [ngModelOptions]="{standalone: true}"
                            itemClass="sortable-item"
                            itemActiveClass="sortable-item-active"
                            placeholderItem="No Topics Added Yet"
                            placeholderClass="alert alert-info"
                            wrapperClass="sortable-wrapper"
                            (ngModelChange)="updateSubTopics()"
                          ></bs-sortable>
                        </section>
                      </section>
                    </fieldset>
                  </section>
                </section>
                <section class="d-flex justify-content-end mt-2 ml-4">
                  <button type="button" (click)='closeModal()' class="btn btn-secondary mr-4">Cancel</button>
                  <button [disabled]='newTopicForm.invalid' class="btn btn-success">Save Topic</button>
                </section>
              </form>
            </div>
            F
          </ng-template>
        </fieldset>
      </section>
    </fieldset>
    <section class="col-lg-12">
      <app-validate-submit-buttons [isSubmitting]='submitInProgressAction$ | ngrxPush'
                                   (validationButtonClicked)='triggerValidationSubject$.next(true)'
                                   [formItem]='newCourseForm'>
        <span *ngIf="!v.course">Create Course</span>
        <span *ngIf="v.course">Update Course</span>
      </app-validate-submit-buttons>
    </section>
  </form>

  <datalist id='numbering-list'>
    <option *ngFor='let numberingStyle of numberingStyles$ | ngrxPush' [value]='numberingStyle.name'>
    </option>
  </datalist>

</div>


