<h1>Financial Costs Maintenance</h1>
<ng-template #template>
  <div class="modal-header bg-dark">
    <h4 class="modal-title pull-left">New Cost Form</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>

    </button>
  </div>
  <div class="modal-body bg-dark">
    <form (submit)='submitCostEditForm()' [formGroup]='financialCostEditForm'>
      <section class="d-flex flex-wrap">
        <section class="col-lg-12">
          <app-input [triggerValidation]='triggerValidation' label='Name' id="name" placeholder="Name"
                     formControlName="name"></app-input>
        </section>
        <section class="col-lg-12">
          <fieldset formArrayName='costItems'>
            <legend>Cost Items</legend>
            <button type="button" (click)='addCostItem()' class="btn btn-primary btn-sm mb-2"><span
              class="icon-plus-circled"></span>Add Cost Item
            </button>
            <section class="col-lg-12 d-flex" *ngFor='let costItem of costItems.controls; let k = index'
                     [formGroupName]='k'>
              <section class="col-lg-11">
                <app-input [triggerValidation]='triggerValidation' label='Name' [attr.id]="'name-' + k"
                           placeholder="Name"
                           formControlName="name">
                </app-input>
              </section>
              <section class="col-lg-1">
                <button [disabled]='costItems.controls.length < 2' (click)='deleteCostItem(k)' type="button"
                        aria-label="Delete Cost item" class="btn btn-danger"><span class="icon-trash"></span></button>
              </section>
            </section>
          </fieldset>
        </section>
      </section>
      <section class='d-flex justify-content-between'>
        <button type="button" (click)="hideModal()" class="btn-sm btn-secondary">Cancel</button>
        <button class="btn-sm btn-primary">Save</button>
      </section>
    </form>
  </div>
</ng-template>

<button (click)='openModal(template)' class="btn btn-primary btn-sm mb-2">
  <span class="icon-plus-circled"></span>Add Cost
</button>

<table *ngIf="financialCosts$ | ngrxPush as financialCosts; else loading"
       class="table table-dark text-light table-bordered">
  <thead>
  <tr>
    <th>Cost</th>
    <th>Cost Items Descriptions</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf='financialCosts.length === 0 && !isLoading'>
    <td colspan="3" class="alert alert-info m-1">
      No Cost Items Found
    </td>
  </tr>
  <ng-container *ngFor='let financialCost of financialCosts; let j = index'>

    <tr *ngIf="financialCost.costItems.length < 1">
      <td> {{ financialCost.name }} </td>
      <td class="p-1">
        <div class="alert alert-info m-1 p-1"><span class="icon-info-circled"></span>No Cost Items Found!</div>
      </td>
      <td>
        <button (click)='openModal(template, j)' aria-label="Edit Item" class="btn btn-sm btn-primary">
          <span class="icon-edit"></span></button>
        <button (click)='deleteItem(j)' aria-label="Delete Item" class="btn btn-sm btn-danger ml-2">
          <span [class.animate-spin]='deleting[j]' class="icon-trash"></span></button>
      </td>
    </tr>
    <tr *ngIf="financialCost.costItems.length > 0">

      <td [attr.rowspan]='financialCost.costItems.length'>
        {{ financialCost.name }}
      </td>
      <td> {{ financialCost.costItems[0]?.name }}</td>
      <td [attr.rowspan]='financialCost.costItems.length'>
        <button (click)='openModal(template, j)' aria-label="Edit Item" class="btn btn-sm btn-primary">
          <span class="icon-edit"></span></button>
        <button (click)='deleteItem(j)' aria-label="Delete Item" class="btn btn-sm btn-danger ml-2">
          <span [class.animate-spin]='deleting[j]' class="icon-trash"></span></button>
      </td>
    </tr>

    <ng-container *ngFor='let costItem of financialCost.costItems; let i = index'>
      <tr *ngIf='i > 0'>
        <td>{{ costItem.name }}</td>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</table>

<ng-template #loading>
  <app-loading-bubble></app-loading-bubble>
</ng-template>
<section class="d-flex justify-content-end">
  <button (click)='submitFinancialCosts()' class="btn btn-sm btn-success">
    <i *ngIf='isSubmitting' class='icon-spin3 animate-spin'></i>
    <i *ngIf='!isSubmitting' class='icon-ok-1'></i>

    Save Changes
  </button>
</section>
